manifest {
    homePage = 'https://github.com/aws-samples/aws-gatk-recipe-nextflow-pipeline'
    description = 'Paired-fastqs to uBAM'
    mainScript = 'paired-fastq-to-unmapped-bam.nf'
    version = '1.0.0'
}

params {
  input_fofn = "project/input_files/fastq_manifest.txt"
	gatk_docker = 'broadinstitute/gatk:4.1.8.0'
}

aws {
    batch {
        cliPath = "/opt/aws-cli/bin/aws"
		maxParallelTransfers = 8
		maxTransferAttempts = 8
    }
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0MzU0fS5hMmY1ZTAzNTdmMmQ1ZWI2ZjBiNzY5ZWNiYmQ3NDg5MTI0MDUyYjZh'
}
