manifest {
  nextflowVersion = '>= 20.01.0'
}
profiles{
batch{

    aws.region = 'us-east-1'
    params {

    	/***ok pretty sure I need to specify the bucket in S3, so whats the deal.***/

	qry = "s3://nextflow-data-390342521138/blast/mgram.biotch.fa"
    	database = "s3://nextflow-data-390342521138/blast/TreeseiV2_FrozenGeneCatalog20081022.proteins.fasta"
	chunkSize = 10
	out = '/' + "test.params.blsp"
	
		}

profiles {

	awsbatch {
		includeConfig 'awsbatch.config'
		}
	}



     process{
    
	executor = 'awsbatch'
	queue = 'worker-queue'
	container = 'ncbi/blast'

        }
	}

}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0MzQ5fS4zMGZmYTBjYmIyYWU5NjNlOGMzNWVmM2I3YzE3NjIzMTUyNTU3ZTJl'
  workspaceId = '41834217424213'
}



