manifest {
  nextflowVersion = '>= 20.01.0'
}
profiles{

    params {

    	/***ok pretty sure I need to specify the bucket in S3, so whats the deal.***/

	qry = "s3://nextflow-data-390342521138/blast/mgram.biotch.fa"
    	db = "/home/ubuntu/efs/interproscan-5.51-85.0/data"
	
	chunkSize = 1500
	out = '/' + "test.ipr.tsv"
	
		}

     process{
    
    	aws.region = 'us-east-1'
	executor = 'awsbatch'
	queue = 'worker-queue'
	container = '390342521138.dkr.ecr.us-east-1.amazonaws.com/ipr'
	cpus = { check_max( 10, 'cpus' ) }
    	memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    	time = { check_max( 8.h * task.attempt, 'time' ) }
    	maxErrors = '-1'
    	maxRetries = 5 

          }

        }


tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0MzQ5fS4zMGZmYTBjYmIyYWU5NjNlOGMzNWVmM2I3YzE3NjIzMTUyNTU3ZTJl'
  workspaceId = '41834217424213'
}



