process {
    withName: interproscan {
        // NOTE: Interproscan is not currently installed through conda. It must be added separately to your PATH.
        // see `nbis` profile for an example of how.
        // conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_interproscan.yml" }
        // Use conda environment by default and provide Interoproscan via the PATH.
        conda = "$baseDir/conda/process_interproscan.yml"
        // The container does not function correctly. Waiting for a functioning biocontainers container.
        // container = 'biocontainers/interproscan:v5.30-69.0_cv3'
    }
}

