profiles {
  batch {
    aws.region = 'us-east-1'
    process.container = 'nextflow/rnaseq-nf:s3'
    process.executor = 'awsbatch'
    process.queue = 'worker-queue'
    params.reads = "s3://nextflow-data-390342521138/ggal/*_{1,2}.fq"
    params.transcript = "s3://nextflow-data-390342521138/ggal/transcriptome.fa"
  }
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0MzQ5fS4zMGZmYTBjYmIyYWU5NjNlOGMzNWVmM2I3YzE3NjIzMTUyNTU3ZTJl'
  workspaceId = '41834217424213'
}
