/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 */

aws.region = 'us-east-1'
process.executor = 'awsbatch'
process.queue = 'basic-blast-queue' 
executor.awscli = '/home/nucleo/miniconda/bin/aws'
//params.tracedir = './'

process {
  queue = params.awsqueue
  process {
    cpus = { check_max( 10, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }

    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxErrors = '-1'
    maxRetries = 5 

          }

         }


