manifest {
  nextflowVersion = '>= 20.01.0'
}

params {

	##ok pretty sure I need to specify the bucket in S3, so whats the deal.

	qry = '/' +  "mgram.biotch.fa"
    	database =  '/' + "TreeseiV2_FrozenGeneCatalog20081022.proteins.fasta"
	chunkSize = 10
	out = '/' + "test.params.blsp"
	
	}



process	{
    
    
    executor = 'awsbatch'
    queue = 'ProteinGAN_test_batch_queue'
    container = 'ncbi/blast'
    
}
process {
    region = 'us-east-1'
    bucketDir="s3://anjali-data"
    docker.enabled = true
}
